* {
    padding: 0%;
    margin: 0%;
}
nav {
    display: flex;
    justify-content: flex-end;
    background-color: #BE3144;
    text-decoration: none;
}
.nav-list {
    display: inline-flex;
}
#welcome-section {
margin: 0%;

}
#projects {
padding: 0%;

}
#contact {
padding: 0%;

}
footer {
margin: 0%;

}
