* {
    padding: 0%;
    margin: 0%;
}
body {
    font-family: 'Poppins', sans-serif;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #BE3144;
    position: fixed;
}
h1 {
    font-family: 'Raleway', sans-serif;
}
h2 {
    text-align: center;
}
p {
    font-style: italic;
    color: #BE3144;
    
}
ul {
    list-style: none;
    display: flex;
}   
.nav-list a {
    display: block;
    padding:1rem;
    color: white;   
    text-decoration: none;
    
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: white;
}

#project-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.project-tile {
    max-height: 500px;
    max-width: 300px;
}   
}
#contact a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer {
    
    text-align: center;
}
